//
mixin drawUsers(message)
	table
		tr
			td.
				login
			td.
				money
		- if (message.length>0){ for (i=0; i<message.length;i++){
			tr
				td
					p!= message[i].login
				td
					p!= message[i].money
			//p!= message
		- }}

mixin drawActions(actions)
		table(class="table table-bordered table-striped" style="width:50%;")
			thead
				tr
					th №
					th Игрок
					th Действие
			tbody
				each action, ind in actions
					tr
						td!= ind
						td!= action.login
						td
							span !{action.type}
							if action.auxillaries
								span (!{action.auxillaries})
						//td!= action

			//p!= action

html
	head
		title!= title
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")

		link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
		link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/style.css")
		//link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/my_style.css")
		link(rel="stylesheet" href="./css/font-awesome.min.css")
		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="./js/bootstrap.js")
	body
		//include ../templates/tAuth
		//include ../client
		//include ../templates/head

		- console.log('incoming message Browser:');
		- console.log(message);
		- //console.log(JSON.stringify(message));

		- //p!= JSON.stringify(message);
		center
			h1 Actions
			+drawActions(msg)
			//+drawUsers(msg)
