//

mixin drawAux(action)
	if action.auxillaries
		case action.type
			when 'tournament.join'
				span    !{action.auxillaries.tournamentID}
			when 'tournament.leave'
				span    !{action.auxillaries.tournamentID}
			default 
				span (!{action.auxillaries})

mixin drawActions(actions)
		table(class="table table-bordered table-striped" style="width:70%;")
			thead
				tr
					th №
					th Игрок
					th Действие
					th Время
			tbody
				each action, ind in actions
					tr
						td!= ind
						td
							a(href="UserInfo/"+action.login) #{action.login}
						td
							span !{action.type}
							+drawAux(action)

						td!= action.date

			//p!= action

html
	head
		title!= title
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")

		link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
		link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/style.css")
		//link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/my_style.css")
		link(rel="stylesheet" href="./css/font-awesome.min.css")
		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="./js/bootstrap.js")
	body
		- //p!= JSON.stringify(message);
		center(style="width='100%;'")
			h1 Actions
			+drawActions(msg)
			//+drawUsers(msg)
