//
mixin radioButton(val, ans)
	div(id=val)
		input(type="radio", value=val, name='answer').
		| #{ans}
		br
mixin inp(tdName, inpName)
	tr
		td #{tdName}
		td
			input(type="text", name=inpName).
mixin select(id, variants, offset)
	if id && variants && variants.length>0
		//p!= variants
		select(id=id, name=id)
			each val, index in variants
				option(value=index+offset) #{val}

mixin showSelectInTR(id, variants, offset)
	tr
		td #{id}
		td 
			+select(id, variants, offset)
mixin getGoNexts(numOfRounds)
	- for(i=0;i<numOfRounds;++i)
		if i==0
			+inp('Incoming players', 'goNext'+i)
		else
			+inp('goNext'+i, 'goNext'+i)
			//+inp('Prizes of round'+i, 'Prizes'+i)
	- for(i=numOfRounds;i>0;--i)
		+inp('Prizes of round'+i, 'Prizes'+i)


html
center
	br
	br
	br
	- if(msg)
		p!=JSON.stringify(msg)
	form(acion='', method="POST")
		table( BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
			tr
				td Game Name
				td
					select(id='gameNameID', name="gameNameID")
						option(value=2) Questions
						option(value=3) Battle
						option(value=1) Ping Pong
						
			tr
				td Rounds
				td
					select(id="rounds", name="rounds")
						-for (i=1;i<13;++i)
							option(value=i) #{i}

			tr
				td Regularity
				td
					select(id='gameNameID', name="regularity")
						option(value=0) none
						option(value=1) regular
						option(value=2) stream
			
			+inp('Buy In', 'buyIn')
			//+inp('bb', 'field')
			//+showSelectInTR('asd',['ololo','piw-piw', 'defense'],1)
			//+getGoNexts(1)
			+inp('goNext', 'goNext')
			+inp('Prizes', 'Prizes')
			+showSelectInTR('prizeGenerator',['auto','custom'],1)
			+showSelectInTR('goNextSelection',['auto','custom'],1)

		br
		br
		input(type="submit" style= "width:300px;height:50" value="Add tournament")
		br
		a(href="Tournaments") Tournaments
