//

mixin link(href, text)
	a(href=href) #{text}
	span    

mixin createPortLink(link, name)
	script.
		var link = "#{link}";
		var name = "#{name}";
		//document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':8080' + window.location.pathname + '" >Link to same page on port 8080:</a> ' );
		document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + link +  '" target="_blank">'+ name+'</a> ' );

mixin basicLink(href, name)
	td
		a(href=href target="_blank") #{name}

mixin links()
	h1 Logs!
	table
		tr
			//a(href="Log" target="_blank") Full logs
			+basicLink("Log", "Full logs")
			+basicLink("SpecLogs/Err","SpecLogs")
			+basicLink("Tournaments", "Tournaments")
			+basicLink("Stats", "Stats")
			+basicLink("SpecLogs/Stats" ,"Log Stats")
	br

mixin Tournaments()
	table
		tr
			td
				#Running
					p Running
			td
				#Tournaments
					p Total tournaments
	//#Games
		table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
			tr
				td
					#1
						p Ping pong
				td
					#2
						p Questions

mixin title(text)
	h2 #{text}
	br

mixin packOpenings()
	+title("PACKS")
	br
	+link("/packOpenings/incomeToday", "incomeToday")
	+link("/packOpenings/incomeAll", "incomeAll")
	+link("/packOpenings/incomeYesterday", "incomeYesterday")
	br
	+link("/packOpenings/openedToday", "openedToday")
	+link("/packOpenings/openedAll", "opened alltime")
	+link("/packOpenings/openedYesterday", "openedYesterday")
	br
	+link("/packOpenings/totalToday", "total openedToday")
	+link("/packOpenings/totalAll", "total opened alltime")
	+link("/packOpenings/totalYesterday", "total opened yesterday")
html
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
	script.
		var msg = "#{msg}";
	script(src="adminScripts/Running.js")
	//script(src="adminScripts/MoneyTransfer.js")
	
	+links()
	br
	+createPortLink(":5010/questions", "MODERATE Questions")
	+createPortLink(":5010/questions/all", "All Questions")
	+createPortLink(":5010/questions/topic/realmadrid", "Real Madrid questions")
	br
	
	+packOpenings()
	//script.
		document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':5010/questions' +  '" target="_blank"> MODERATION SCRIPT:</a> ' );
	br
	//a(href=":5010/questions" target="_blank") Moderation

	br
	br

	h2 Tournaments
	///- var msg = "#{msg}";
	p!= 1
	- if(msg)
		p!=JSON.stringify(msg)
	+Tournaments()

	
	a(href="MarathonInfo") Marathons
	br
	label give money to (giveMoneyTo/g.iosebashvili/500)
	br
	label give accelerator to (giveAcceleratorTo/g.iosebashvili/1)

	br
	br
	label KillUser /kill/username
	br
	a(href="playedTop?num=28") most active players (playedTop?num=28)


	iframe(src ="stats2" width="100%" height="800px;")

	//form(method="GET" action="giveMoneyTo/g.iosebashvili/500")
		label Login
		input(type="text" name="userID")
	script.
		GetRunningTournaments();
		GetTotalTournaments();
		//window.onfocus = function(){location.reload(true);}		
	//script.
		var tmr = setInterval(GetRunningTournaments, 3000);
		var tmr2 = setInterval(GetTotalTournaments, 3000);
