//
extends List

block head
	th #
	th Название
	th Время
	th Статус
block raw

block content
	td
		p #{ind}
		p!= item.name
		p!= item._id

	td
		p(href="get_message?id="+item.id target="_blank") #{item}
	td
		form(action="/api/collections/edit/"+item._id method="POST" target="_blank")
			label rewardType
			input(type="number" value=item.rewardType name="rewardType" class="black")
			label list
			input(type="text" value=JSON.stringify(item.list) name="list" class="black")
			br
			label description
			input(type="text" value=item.description name="description" class="black")
			br
			label reward
			input(type="text" value=JSON.stringify(item.reward) name="reward" class="black")
			br
			input(type="submit" value="edit pack" + item._id)
	td
		+drawStatus(item)

mixin drawStatus(item)
	case item.available
		when true
			p Включен
		default
			p Выключен
