//
extends List

block head
	th #
	th Строка
	th status
	th Actions
block raw

block before
	+formNews("/api/news/add")

block content
	td!= ind

	td
		p #{item}
	td
		+showStatus(item)
	td
		+tlink("/api/news/activation/"+item._id+"/hide", "HIDE")
		+tlink("/api/news/activation/"+item._id+"/show", "show")

		+upd()

		form(action="/api/news/edit/"+item._id method="POST" target="_blank")
			label title
			input(type="text" name="title" value=item.title)
			br
			label text
			input(type="text" name="text" value=item.text)
			br
			label image
			input(type="text" name="image" value=item.image)
			br
			label url
			input(type="text" name="url" value=item.url)
			br
			input(type="submit" value="Edit")

mixin formNews(action, item, btn)
	form(action=action method="POST")
		//target="_blank"
		label title
		input(type="text" name="title")
		br
		label text
		input(type="text" name="text")
		br
		label image
		input(type="text" name="image")
		br
		label url
		input(type="text" name="url")
		br
		input(type="submit" value="Add")


mixin showStatus(item)
	if item.active
		p Enabled
	else
		p disabled

mixin tlink(url, text)
	br
	a(href=url target="_blank") #{text}
