//
mixin drawPlot(id, name)
	td
		p!= name
		canvas(id=id width=width height=width)

html
	head
		title Stats
	script(src="third_party/Chart.js")
	include ../templates/libs
	- var width=300;

	p!= JSON.stringify(msg)



	table
		//canvas(id="myChart" width=width height=width)
		tr
			+drawPlot("tournStats", "started/finished/prized")
			+drawPlot("attemptToSuccess", "Attempt to load/ Loaded OK")
		tr
			+drawPlot("register", "Register/RegisterFail")
			+drawPlot("mail", "Mail/MailFail")
			+drawPlot("resetPassword", "Reset Password/Fail")
	
	script(src="adminScripts/drawStats.js")
	//script var msg = !{JSON.stringify(msg);
	//script var msg = !{JSON.stringify(msg)}
	script.
		var msg = !{JSON.stringify(msg)};
		//alert(JSON.stringify(msg));

		//console.log(JSON.stringify(msg));
		//drawMyChart();
		//drawChart1();
		drawTournamentStats(JSON.stringify(msg));
		window.onfocus = function(){location.reload(true);}
