//
mixin drawPlot(id, name)
	td
		p!= name
		canvas(id=id width=width height=width)

script(src="Chart.js")
include ../templates/libs
- var width=300;

p!= JSON.stringify(msg)



table
	//canvas(id="myChart" width=width height=width)
	tr
		//td
			p Plot Example
			canvas(id="chart1" width=width height=width)
		+drawPlot("chart1", "Plot Example")
		td
			p started/finished/prized
			canvas(id="tournStats" width=width height=width)
	tr
		td
			p Attempt to load/ Loaded
			canvas(id="attemptToSuccess" width=width height=width)
		+drawPlot("register", "Register/RegisterFail")
	tr
		+drawPlot("mail", "Mail/MailFail")
		+drawPlot("resetPassword", "Reset Password/Fail")
	
script(src="drawStats.js")
//script var msg = !{JSON.stringify(msg);
//script var msg = !{JSON.stringify(msg)}
script.
	var msg = !{JSON.stringify(msg)};
	//alert(JSON.stringify(msg));

	//console.log(JSON.stringify(msg));
	//drawMyChart();
	drawChart1();
	drawTournamentStats(JSON.stringify(msg));
	//setTimeout(function(){location.reload(true);} , 10000);
