//
script(src="Chart.js")
include ../templates/libs
- var width=400;
//table
	tr
		td
			canvas(id="myChart" width=width height=width)
		td
			canvas(id="chart1" width=width height=width)
	tr
		td
			canvas(id="tournStats" width=width height=width)
table
	//canvas(id="myChart" width=width height=width)
	canvas(id="chart1" width=width height=width)
	canvas(id="tournStats" width=width height=width)
	
script(src="drawStats.js")
script.
	var msg = "#{msg}";
	alert(msg)
	//drawMyChart();
	drawChart1();
	drawTournamentStats();
