//
extends List

block head
	th #
	th Игрок
	th Тип
	th Сумма
	th Время
	th Источник
block raw

block content
	td!= ind
	td
		p!= item.userID
	td
		if item.source
			if item.source.type
				p!= item.source.type
			else
				p!= JSON.stringify(item.source)
		else
			p Source is not set
			//p!= JSON.stringify(item)
	td
		p!= item.ammount
		//a(href="get_message?id="+item.id target="_blank") #{item}
	td
		p!= item.date
	td
		p!= JSON.stringify(item.source)
	//td
		+drawStatus(item)
		//p #{item.status}

mixin drawStatus(item)
	case item.status
		when '1'
			p Прочитано
		default
			p Не прочитано
