//

mixin answers(i, value)
	label answer#{i} #{value}
	input(type="text" name="answer"+i id="answer"+i value=value required)
	br
html
	title add question
	p add your question
	- var q='';
	- var a1 = '';
	- var a2 = '';
	- var a3 = '';
	- var a4 = '';
	- var correct = 1;
	if msg
		script.
			q = "#{msg.question}";
			a1 = "#{msg.answer1}";
			a2 = "#{msg.answer2}";
			a3 = "#{msg.answer3}";
			a4 = "#{msg.answer4}";
			correct = "#{msg.correct}";
		form(action="/editQuestion?id="+msg.id method="post")
			label question
			input(type="text" name="question" id="question" value=msg.question required)
			br

			+answers(1, msg.answer1)
			+answers(2, msg.answer2)
			+answers(3, msg.answer3)
			+answers(4, msg.answer4)

			label correct
			input(type="text" name="correct" id="correct" value=msg.correct required)
			br
			br

			input(type="submit" value="Edit")
	else
		form(action="/AddQuestion" method="post")
			label question
			input(type="text" name="question" id="question" value=q required)
			br

			+answers(1, a1)
			+answers(2, a2)
			+answers(3, a3)
			+answers(4, a4)

			label correct
			input(type="text" name="correct" id="correct" value=correct required)
			br
			br
			label tournamentID
			input(type="numer" name="tournamentID" id="tournamentID")
			br

			label topic
			input(type="numer" name="topic" id="topic")
			br

			input(type="submit" value="Add")

			p startSpecial/133
