//
//script.
- var MODERATION_NONE = 0;
- var MODERATION_REJECTED = 1;
- var MODERATION_OK = 2;
- var MODERATION_MODIFIED = 3;

mixin question(q,i)
	tr
		td #{i} #{q._id}
		td #{q.createdBy}
		td #{q.question}
		td #{q.answers}
		td
			| №#{q.correct}
			br
			| #{q.answers[q.correct-1]}
		td 
			p #{q.date}
			if q.topic
				p!= q.topic
			else
				p No topic!
		td
			a(href="/setTopic/"+q._id+"/0" target="_blank") Delete or change topic
			br
			a(href="moderate/"+q._id+"/"+MODERATION_REJECTED target="_blank") MODERATION_REJECTED
			br
			a(href="moderate/"+q._id+"/"+MODERATION_OK target="_blank") ACCEPT
			br
			a(href="moderate/"+q._id+"/"+MODERATION_MODIFIED target="_blank") MODERATION_MODIFIED
			br
			a(href="editQuestion/?question="+q.question +"&answer1="+q.answers[0] +"&answer2="+q.answers[1] +"&answer3="+q.answers[2] +"&answer4="+q.answers[3]+"&correct="+q.correct +"&id="+q._id target="_blank") modify
	//p!= q

html
	head
		title newQuestion
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
	body
		//p!= JSON.stringify(msg)
		table(class="table table-bordered table-striped" style="width:70%;")
			thead
				th id
				th created By
				th question
				th answers
				th correct answer is
				th time
				th action
			tbody
				each q, index in msg
					+question(q, index)
