//
mixin radioButton(val, ans)
	div(id=val)
		//input(type="radio", value=val, name='answer').
		//| #{ans}
		//br
		a(class="btn btn-lg btn-block btn-rd btn-d btn-clean") #{ans}

mixin drawTableOfResults()
	table(id="winnerTable" class="table table-bordered table-striped" style="display:none;")
		thead
			tr
				th Игрок
				//th Набранные очки
				th Очки
		tbody(id="resultField")


html
head
	include ../../views/templates/head
	//include ../../views/templates/googleAd
	link(rel="stylesheet" type="text/css" href="qst_game.css")
	script.
		function closePage(){
			window.close();
		}
center
	h1!= Questions
	div(class="page-container")
		div(class="bloc l-bloc bgc-white" id="bloc-9")
			div(class="container bloc-lg")
				div(class="row")
					div(class="col-sm-12")
						h2(class="mg-md text-center" id="Score")
							p Ваш счёт:0
					
						h3(class="text-center" id="Question") Турнир скоро начнётся. Дождитесь начала
						h4(id="ticker")
						//h4 секунд
						div(id="closeButton" style="display:none; color:black;")
							a(href="http://online-tournaments.org" class="btn btn-primary btn-lg") Закрыть
							br
						div#Answers(style="display:none;")
							+radioButton(1, '')
							+radioButton(2, '')
							+radioButton(3, '')
							+radioButton(4, '')
						//+radioButton(5, 'Answer5')
						div#results
							+drawTableOfResults()
						//+googleAdvert()
								

script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
script( src="https://cdn.socket.io/socket.io-1.2.0.js").
//script( src="http://code.jquery.com/jquery-1.11.1.js").

script.
	var tournamentID= "#{tournamentID}";
	var gameHost = "#{gameHost}";
	var gamePort = "#{gamePort}";
	var login = "#{login}";
	//GameLoaded(tournamentID);
	
	//alert('Host= ' + gameHost + '/n Port= '+gamePort);

script( src="gameStats.js").
script( src="qst_game.js").

