mixin radioButton(val, ans)
	div(id=val)
		input(type="radio", value=val, name='answer').
		| #{ans}
		br
html
head
	link(rel="stylesheet" type="text/css" href="qst_game.css")
center
	h1!= Questions
	div#Question
		p Question will be here
	br
	br
	div#Answers
		+radioButton(1, 'Answer1')
		+radioButton(2, 'Answer2')
		+radioButton(3, 'Answer3')
		+radioButton(4, 'Answer4')
script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
script( src="https://cdn.socket.io/socket.io-1.2.0.js").
script( src="http://code.jquery.com/jquery-1.11.1.js").

script.
	var tournamentID= "#{tournamentID}";
	var gameHost = "#{gameHost}";
	var gamePort = "#{gamePort}";
	alert('Host= ' + gameHost + '/n Port= '+gamePort);
script( src="qst_game.js").
