//
extends layout2
block title
	title #{draw.name}

block JSlibs
	script(src="/packs.js")
	if session && session.login
		script(src="/category.js")
	else
		h2(class="white") Для участия в турнирах про #{category} необходимо
			a(href="/Login") авторизоваться 

block content
	// iframe(id="play" src=)
	div(class="white")
		div(class="col-sm-12")
			h1(class="mg-md text-center") Эта страница посвящена #{draw.name_dat}
			
			//h1(class="mg-md text-center") Эта страница посвящена #{JSON.stringify(draw)} //p #{category}
			// p Мы проводим онлайн–турниры
			div(id="play")
			// include mini-games/questions
			script.
				var topic = "#{name}";
				// getTournamentID(topic);
				reg(topic);
				connect(topic)
			br
			br
		div(class="col-sm-12")
			+tabArea()


mixin tabs()
	ul(class="nav nav-tabs")
		li(class="active")
			a(href="#tab1" onclick="loadRating()" data-toggle="tab" aria-expanded="true") Марафон
		li
			a(href="#tab2" data-toggle="tab" aria-expanded="false") Вопросы
		li
			a(href="#tab3" data-toggle="tab" aria-expanded="false") Игроки
		li
			a(href="#tab4" data-toggle="tab" aria-expanded="false") Карточки

mixin tabArea()
	div(class="row")
		+tabs()
		div(class="tab-content")
			div(class="tab-pane active" id="tab1")
				//a(href="#" onclick="loadRating()") Обновить
				div(class="bgc-white" id="ratingField")
					div(class="dataRule2")
						//+rating()
						br
						center
							h3
								a(href="/Leaderboard") Все участники
						include templates/rating
			div(class="tab-pane" id="tab2")
				if session && session.login
					+questions()
				else
					p Авторизуйтесь, чтобы добавить вопрос
					a(href="/Login" class="btn btn-primary") Авторизоваться
			div(class="tab-pane" id="tab3")
				p Tab3
			div(class="tab-pane" id="tab4")
				p tab4

mixin questions()
	include templates/addQ

mixin mychat()
	div(class="col-md-12 chatColumn chatRule")
		h3 chat
		div(class="form-group")
			label(class="control-label" for="formInput54") Field label
			textarea(class="form-control" rows="3" id="formInput54")
		div(class="form-group") 
			label(class="control-label" for="formInput74") Field label
			input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
	p Tab 2 content goes here...



//div(class="row")
	+tabs()
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row")
					div(class="col-md-12 dataRule")
						p!= ololo
		div(class="tab-pane" id="tab2")
			div(class="col-md-12 chatColumn chatRule")
				h3 chat
				div(class="form-group")
					label(class="control-label" for="formInput54") Field label
					textarea(class="form-control" rows="3" id="formInput54")
				div(class="form-group") 
					label(class="control-label" for="formInput74") Field label
					input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
			p Tab 2 content goes here...
		div(class="tab-pane" id="tab3")
			p Tab3
		div(class="tab-pane" id="tab4")
			p tab4