//
extends layout2
block title
	title #{draw.name}

block JSlibs
	script(src="/packs.js")
	if session && session.login
		script(src="/category.js?1")
	else
		h2(class="white") Для участия в турнирах про #{category} необходимо
			a(href="/Login") авторизоваться 

mixin drawImage(src)
	// img(class="img-rounded" src=src width=320 height=180)
	// img(class="img-responsive circle" src=src width=320 height=180)
	a(href="/Categories")
		img(class="img-responsive circle" src=src)

mixin categoryHead()
	br
	center
		table(class="white")
			tr
				td(style="min-width:100px; padding-right:10px;")
					// h1(class="mg-md text-center") Эта страница посвящена #{draw.name_dat}
					if draw.imgSmall
						+drawImage(draw.imgSmall)
					else
						+drawImage("/img/topics/default.jpg")
				td
					h1(class="mg-md text-center") #{draw.name}

block content
	div(class="white")
		//div(class="container-fluid")
			div(class="row-fluid")
		+categoryHead()

				// h1(class="mg-md text-center") #{draw.name}
			//#{draw.img}
		br
		div(id="play")
		script.
			var topic = "#{name}";
			joinStream(topic);
			connect(topic)
		br
		br
		// +mychat()
		div(class="col-sm-12")
			+tabArea()

mixin tabs()
	ul(class="nav nav-tabs")
		//li(class="active")
			a(href="#tab1" data-toggle="tab" aria-expanded="true") Марафон
			//onclick="loadRating()"
		li
			a(href="#tab2" data-toggle="tab" aria-expanded="false") Вопросы
		li
			a(href="#tab3" data-toggle="tab" aria-expanded="false") Игроки
		// li
			a(href="#tab4" data-toggle="tab" aria-expanded="false") Карточки
		li(class="active")
			a(href="#tab5" data-toggle="tab" aria-expanded="false") Чат

mixin tabArea()
	div(class="row")
		+tabs()
		div(class="tab-content")
			div(class="tab-pane" id="tab1")
				//a(href="#" onclick="loadRating()") Обновить
				div(class="bgc-white" id="ratingField")
					div(class="dataRule2")
						//+rating()
						br
						center
							h3
								a(href="/Leaderboard") Все участники
						include templates/rating
			div(class="tab-pane" id="tab2")
				if session && session.login
					+questions()
				else
					p Авторизуйтесь, чтобы добавить вопрос
					a(href="/Login" class="btn btn-primary") Авторизоваться
			div(class="tab-pane" id="tab3")
				//p Tab3
				#onliners
			div(class="tab-pane" id="tab4")
				p tab4
			div(class="tab-pane active" id="tab5")
				+mychat()

mixin questions()
	include templates/addQ

mixin mychat()
	// div(class="col-md-12 black chatColumn chatRule")
	div(class="col-md-12 black chatColumn chatRule")
		include templates/chat
		//div(class="col-md-12 chatColumn chatRule")
			h3 chat
			div(class="form-group")
				label(class="control-label" for="formInput54") Field label
				textarea(class="form-control" rows="3" id="formInput54")
			div(class="form-group") 
				label(class="control-label" for="formInput74") Field label
				input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
	// p Tab 2 content goes here...



//div(class="row")
	+tabs()
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row")
					div(class="col-md-12 dataRule")
						p!= ololo
		div(class="tab-pane" id="tab2")
			div(class="col-md-12 chatColumn chatRule")
				h3 chat
				div(class="form-group")
					label(class="control-label" for="formInput54") Field label
					textarea(class="form-control" rows="3" id="formInput54")
				div(class="form-group") 
					label(class="control-label" for="formInput74") Field label
					input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
			p Tab 2 content goes here...
		div(class="tab-pane" id="tab3")
			p Tab3
		div(class="tab-pane" id="tab4")
			p tab4
		div(class="tab-pane" id="tab5")
			+mychat()
