//
- tournWidth = 4;

-var convert=100;

mixin showTournaments(tournaments)
	div(class="bloc l-bloc bgc-white b-divider" id="hq1")
		div(class="container bloc-sm")
			- for (i=0; i<tournaments.length;i++) {
				if i%tournWidth==0
					- var lineID = i/tournWidth;
					- console.log(lineID);
					div(class="row" id="line"+lineID)
						//+showTournament(tournaments[i] , lineID, "img/CR2.jpg")
						//+showTournament(tournaments[i+1] , lineID, "img/CR2.jpg")
						//+showTournament(tournaments[i+2] , lineID, "img/CR2.jpg")
						//+showTournament(tournaments[i+3] , lineID, "img/CR2.jpg")

						- for (j=0; j < tournWidth; j++) {
							if (tournaments[i+j])
								+showTournament(tournaments[i+j] , lineID, "img/CR2.jpg")
						-}
					br
					br
			- }
						//+showTournament(tournaments[0] , 1 , "img/CR2.jpg")
						//+showTournament({buyIn:100, gameNameID:2, Prizes:['Футболка КР7'], goNext:[150, 3]} , 1 , "img/CR2.jpg")

mixin showGame(gameNameID, ID)
	case gameNameID
		when 0
			| Ошибка, сообщите в техподдержку ##{ID}
		when 1
			| Пинг понг ##{ID}
		when 2
			| Викторина ##{ID}
		when 3
			| Battle ##{ID}
		default
			| Ошибка ##{ID}

mixin tournamentTile(t)
	td
		#tournament300(style="border: 0px solid black; background: #f0f0f0; padding:25px; margin:20px")
			center
					//p!= JSON.stringify(t)
				#info
					
					h5
						b!= "Турнир №:"+t.tournamentID
					+showGame(t.gameNameID)

					h2!= "Победитель получает: "
					h2!= t.Prizes[0]/convert+"$"
					h3!= "Призовых мест: " + t.goNext[1] 
					p!= "Игроков: " + t.players+"/"+t.goNext[0]
					
					if t.buyIn==0
						p!= "Играть бесплатно!"
					else
						p!= "Стоимость "+t.buyIn+"$"
			
		
					#button300
						a(href=""+t.tournamentID+"" class="btn btn-lg btn-primary") Подробнее
							//span(class="glyphicon glyphicon-info-sign")
								Подробнее

mixin showPrizes(prizes)
	h2 Tournament prizes
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td Round
			td Prize
		each prize, index in prizes
			if prize
				tr
					td #{index}
					if isNaN(prize)
						//td GIFT#{JSON.stringify(prize)}
						td 
							a(href="GetGift?giftID="+prize.giftID) Show prize
					else
						td #{prize/convert}$
	br

mixin showPrize(prize)
	if prize
		if isNaN(prize)
			//td GIFT#{JSON.stringify(prize)}
			//td
				a(href="GetGift?giftID="+prize.giftID) Show prize
			Приз: #{prize}
		else
			Приз: #{prize/convert}$

mixin showTournament(t,line, imageUrl)
	if t
		- var ID=t.tournamentID||115;
		- var registered = t.players;
		- var gameNameID = t.gameNameID;
		- var prizes = t.Prizes[0];	
		- var maxPlayers = t.goNext[0];
		- var winnersPlaces = t.goNext[1];
		- var buyIn = t.buyIn || 0;
	
		div(class="col-sm-3")
			center
				h4(class="mg-md text-center" id="gname-"+ID)
					+showGame(t.gameNameID, t.tournamentID)
				img(src=imageUrl width="210" height="150")
				h3(id="wnrs-"+ID style="height:55px; width:220px" )
					+showPrize(prizes)
				h4(class="mg-md") 
					Стоимость: #{buyIn/convert}$
					br
					Призовых мест: #{winnersPlaces}
					div(id="plrs-"+ID)
						Участников : #{registered} из #{maxPlayers}
				a(href="TournamentInfo?tID="+ID class="btn btn-lg btn-primary" style="width:60%; border-radius:6px; ") Играть

-var red = "#FF0000";
-var green = "#00FF00";
-var blue = "#0000FF";

//include templates/tournaments

html
	head
		title!= 'Турниры'
		include templates/head
		//link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
	body
		div(class="page-container")
			include client
			
			div(class="bloc l-bloc bgc-white" id="bloc-1")
				div(class="container")
					div(class="row")
						div(class="col-sm-12")
							h3(class="mg-md text-center") Турниры
			//p!= JSON.stringify(msg)
			+showTournaments(msg)
			include templates/footer
