//

mixin rating()
	h3(class="text-center ratingHead") Марафон
		br
		//a(href="Leaderboard") все участники
	include templates/rating-solo

extends layout

block title
	title Главная

mixin thumb()
	li(class="span4")
		div(class="thumbnail")
			| <img src="http://placehold.it/300x200" alt="">
			| <h3>Ярлык миниатюры</h3>
			| <p>Заголовок миниатюры...</p>
mixin slide(src, alt, name, text, active, url)
	div(class="item " + active)
		center
			img(class="img-responsive" src=src alt=alt style="width: auto; height: 400px;")
		// width="460" height="345")
		div(class="carousel-caption")
			h3 #{name}
			p #{text}
			if url
				a(href=url class="btn btn-danger btn-lg") Подробнее

mixin marathonCarousel()
	#marathons.offset-bg
		| <div id="myCarousel" class="carousel slide" data-ride="carousel">
		|  <!-- Indicators -->
		|  <ol class="carousel-indicators">
		|    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		|    <li data-target="#myCarousel" data-slide-to="1"></li>
		|    <li data-target="#myCarousel" data-slide-to="2"></li>
		|    <li data-target="#myCarousel" data-slide-to="3"></li>
		|    <li data-target="#myCarousel" data-slide-to="4"></li>
		|  </ol>

		|  <div class="carousel-inner" role="listbox">

		+slide("/img/topics/realmadrid.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice", "active", "/Categories")
		+slide("/img/topics/bale.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")
		+slide("/img/topics/manutd.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")
		+slide("/img/topics/default.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")

		|  </div>

		|  <!-- Left and right controls -->
		|  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		|    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		|    <span class="sr-only">Previous</span>
		|  </a>
		|  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		|    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		|    <span class="sr-only">Next</span>
		|  </a>
		|</div>

block content
	include templates/news
	include templates/topics

	//div(class="col-sm-12")
		hr(colour="white" width="60%" align="center")
		h2(class="white text-center") Турниры
	//script.
		var tournaments = !{JSON.stringify(msg)};
		drawTournaments(tournaments)
	
	br
	br
	div(class="col-sm-12 bgc-white" id="ratingField")
		//div(class="row")
			+marathonCarousel()
		div(class="col-sm-8 dataRule2")
			+rating()
		div(class="col-sm-4 subscribe")
			+subscribe()
	//div(class="col-sm-12 offset-bg")
		+chat()

block JSlibs
	script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	//script(src="/tournaments.js?2")
	script(src="/category.js?2")
	//include templates/googleAd
