extends layout

block title
	title Онлайн Турниры

mixin thumb()
	li(class="span4")
		div(class="thumbnail")
			| <img src="http://placehold.it/300x200" alt="">
			| <h3>Ярлык миниатюры</h3>
			| <p>Заголовок миниатюры...</p>
mixin slide(src, alt, name, text, active, url)
	div(class="item " + active)
		center
			img(class="img-responsive" src=src alt=alt style="width: auto; height: 400px;")
		// width="460" height="345")
		div(class="carousel-caption")
			h3 #{name}
			p #{text}
			if url
				a(href=url class="btn btn-danger btn-lg") Подробнее

mixin marathonCarousel()
	#marathons.offset-bg
		| <div id="myCarousel" class="carousel slide" data-ride="carousel">
		|  <!-- Indicators -->
		|  <ol class="carousel-indicators">
		|    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		|    <li data-target="#myCarousel" data-slide-to="1"></li>
		|    <li data-target="#myCarousel" data-slide-to="2"></li>
		|    <li data-target="#myCarousel" data-slide-to="3"></li>
		|    <li data-target="#myCarousel" data-slide-to="4"></li>
		|  </ol>

		|  <div class="carousel-inner" role="listbox">

		+slide("/img/topics/realmadrid.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice", "active", "/Categories")
		+slide("/img/topics/bale.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")
		+slide("/img/topics/manutd.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")
		+slide("/img/topics/default.jpg", "Chania", "Chania", "The atmosphere in Chania has a touch of Florence and Venice")

		|  </div>

		|  <!-- Left and right controls -->
		|  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		|    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		|    <span class="sr-only">Previous</span>
		|  </a>
		|  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		|    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		|    <span class="sr-only">Next</span>
		|  </a>
		|</div>

mixin freerollDaily()
	div
		//(style="cursor:pointer")
		#Freeroll.row
			//.hero-unit.noborder(style="background:#e67e22;")
			//.freeroll.noborder(style="background-color:#e67e22;")
			//.noborder
			//.freeroll.shadow.ctr(style="background-image: url('http://kloppex.ru/kart/23/gamma_abstrakcii_tekstury_krugi_cveta_bokeh_abstraction_1920x1080.jpg');")
			//.freeroll.shadow.ctr(style="background-color: #2ecc71;")
			.freeroll.ctr.green
				.white
					h1.fadeText Выиграй 50 рублей в бесплатной викторине!
					p
						| Время начала - 20:00 (каждый день)
						br
						| Присоединяйся!
					center
						p
							a(class="btn btn-primary btn-large btn-lg btn-fixed" href="/Tournaments#daily") Участвовать
							// href="http://google.com"
					//p
						a(class="btn btn-primary btn-large btn-lg" href="http://google.com" style="margin-left: 0px;") Поделиться
					//p(style="margin-top:30px;")
						a(class="btn btn-primary btn-large btn-lg" href="http://google.com") Поделиться
		//#Freeroll.row.img-wrapper.border-if-you-can
			//figure
				#Freeroll
			script.
				drawNews({
					news: [{
						//image: 'http://kloppex.ru/kart/23/gamma_abstrakcii_tekstury_krugi_cveta_bokeh_abstraction_1920x1080.jpg',
						//image: '',
						title: 'Выиграй 50 рублей в бесплатной викторине!',
						text: ' ' +
						'Время начала - 20:00 по МСК (каждый день) <br> Присоединяйся!',
						url:'http://google.com',
						//colour: '#FF0000',
						//colour: '#4A148C',
						colour: '#e74c3c',
						//borderRadius: '0',
						//borderRadius: '1000px',
						centerButton: true,

					}]
				}, "#Freeroll");
	//a(href="#" style="text-decoration:none;")

mixin freerollWeekly()
	.offset-lg
		//(style="cursor:pointer")
		#WeeklyFreeroll.row
			//.hero-unit.noborder(style="background:#e74c3c;")
			//.freeroll.noborder(style="background-color:#e74c3c;")
			.freeroll.ctr.red
				.white
					h1.fadeText Сорви куш в еженедельной викторине!
					p
						//| Турнир стартует в 20:00 по МСК каждое воскресенье
						| Время начала - 20:00 (воскресенье)
						br
						| Призовой фонд турнира - 500 рублей
						br
						| Призовых мест: 18
						br
						| Присоединяйся!
					p.ctr
						a(id="toggleWeeklyFreeRoll" class="btn btn-success btn-large btn-lg btn-fixed") Подробнее
					p.ctr(id="WeeklyFreeRollFullInfo" style="display:none;")
						| Размер приза зависит от набранного количества баллов
					p.ctr
						//a(class="btn btn-primary btn-large btn-lg btn-fixed offset-md" href="http://google.com" style="margin-left: 0px;") Участвовать
						a(class="btn btn-primary btn-large btn-lg btn-fixed offset-md" style="margin-left: 0px;") Участвовать
		script.
			$("#toggleWeeklyFreeRoll").click(function () {
				$("#WeeklyFreeRollFullInfo").toggle();
				/*"slow", function () {});*/
			});


mixin createTeam()
	.offset-lg
		//(style="margin-top:50px;margin-bottom:50px;")
		.row
			.freeroll.ctr.purple
				.white
					//h1.fadeText Создай свою команду и раздели радость побед с друзьями!
					h1.fadeText Раздели радость побед с друзьями!
					p
						| 1) Создай свою команду
						br
						| 2) Побеждай с друзьями в турнирах
						br
						| 3) Получи бонус в 400% призовых
					p.ctr
						//a(onclick="CopyShareLink('shareLink');" class="btn btn-primary btn-fixed") Рассказать друзьям
						p.ctr(id="TeamFullInfo" style="display:none;")
							| Бонус даётся за участие в бесплатных турнирах
							br
							| Если вы или ваш друг, выиграете 100 рублей, то вся команда получит ещё 300 рублей на общий счёт
							br
							| Вы сможете поделить их поровну в меню команды
							br
							| Все выигрыши суммируются
							br
							| Удачи!
						a.offset(id="toggleTeamInfo" class="btn btn-primary btn-fixed") Подробнее
						a.offset(class="btn btn-success btn-fixed" href="/Team") Создать команду
			script.
				$("#toggleTeamInfo").click(function () {
					$("#TeamFullInfo").toggle();
				});

block legacy
	script.
		var socket = io();
block overrideMenu

block content
	// br
	// br
	div(class="col-sm-12 bgc-white" id="ratingField")
		//div(class="row")
			+marathonCarousel()
		#app
		//script(src="/output/Index.js")
		script.
			console.log('packs incoming...');
			var msg = !{JSON.stringify(msg)}
			console.log(msg);
			var PACKS = msg.packs || [];
			var TOURNAMENTS = msg.tournaments;
		// var TOURNAMENTS = !{JSON.stringify(msg.tournaments)};
		script(src="/output/app.js")

		//ul(class="list-group")
			li(class="list-group-item")
				//a(href="invite" target="_blank")
				| Играй с друзьями и получи солидный бонус в случае победы в турнире!
				if session && session.login
					br
					script.
						function SelectAll(id) {
							document.getElementById(id).focus();
							document.getElementById(id).select();
						}
						function CopyShareLink(id){
							var node = document.getElementById(id)
							//node.focus();
							node.select();
							document.execCommand('copy');
							node.blur();
						}
					input(id="shareLink" onclick="SelectAll('shareLink');" style="width:100%; box-sizing : border-box;" type="text" value="http://online-tournaments.org/register?inviter=" + session.login class="fit")
		//div.ctr
			a(onclick="CopyShareLink('shareLink');" class="btn btn-primary btn-fixed") Рассказать друзьям

block JSlibs