//

mixin drawLeader(leader, index)
	tr(id=leader._id)
		td(class="rating-id") #{index+1}
		if session && session.login==leader._id
			td(class="rating-lgn" style="color:red;") #{leader._id}
		else
			td(class="rating-lgn") #{leader._id}
		td #{leader.count}
		+drawPrize(index)
mixin drawPrize(i)
	if i==0
		td 100
	else
		td 0

extends layout

//block JSlibs

block title
	title Рейтинг

block content
	center
		h1(class="" style="color:white;") Рейтинг активности 
		if session
			a(href="#"+session.login) где я?
		
	div(class="bloc l-bloc bgc-white" id="bloc-1")
		div(class="container")
			div(class="row")
				div(class="col-md-8 dataRule2")
					table(class="table rating")
						thead 
							tr 
								th #
								th Игрок
								th Игр
								th Приз
						tbody(id="ratingTab")
							script.
								var msg= !{JSON.stringify(msg)};
								drawRating(msg);
							//each leader, index in msg
								+drawLeader(leader, index)
