//
///-----
mixin buttonLink(link, text)
	form(action=link) 
		input(type="submit" value=text style="width:125px;height:50px;")

mixin linkToTournament(words, tID)
	p #{words}  
		a(href="TournamentInfo?tID="+tID) #{tID}

mixin drawTransfer(transfer)
	tr
		//td!= JSON.stringify(transfer)
		td
			- var colour = "red";
			if transfer.ammount>0
				- colour = "green";	
				//p(style="color: red;") #{transfer.ammount}
			if transfer.source == 'Deposit'
				- colour = "gold"
			if transfer.source == 'Cashout'
				- colour = "blue";
			if transfer.sourse
				case transfer.source.type
					when 'BuyIn'
						- colour = "red";
					when 'Deposit'
						- colour = "gold";
					when 'Cashout'
						- colour = "blue";
					when 'promo'
						- colour = "red";
					when 'Cancel'
						- colour = "green";
					when 'Win'
						- colour = "green";
					default
						- colour = "black";

			//else 
			//p!= JSON.stringify(transfer)
			if transfer.ammount>0
				p(style="color: "+colour+";") +#{transfer.ammount/100}$
			else
				p(style="color: "+colour+";") #{transfer.ammount/100}$
		td
			if transfer.source
				//- var linkToTournament = "#{transfer.source.tournamentID}"
				case transfer.source.type
					when 'BuyIn'
						//p Registered in tournament #{transfer.source.tournamentID}
						+linkToTournament("Registered in tournament", transfer.source.tournamentID)
					when 'Deposit'
						p Deposit
					when 'Cashout'
						p Cashout
					when 'promo'
						//p Invited players to tournament #{transfer.source.tournamentID}
						+linkToTournament("Invited players to tournament", transfer.source.tournamentID)
					when 'Cancel'
						//p Canceled register in tournament #{transfer.source.tournamentID}
						+linkToTournament("Canceled register in tournament", transfer.source.tournamentID)
					when 'Win'
						//p WON prize in tournament #{transfer.source.tournamentID}
						+linkToTournament("WON prize in tournament", transfer.source.tournamentID)
					default
						p if you see this, send a screenshot to admin. Something went wrong
			else
				p Old format #{JSON.stringify(transfer.source)}
		td
			if transfer.date
				- var time = transfer.date;
				- var time2 = (new Date(time)).toLocaleDateString();//Date.parse(time).toUTCString();//.toLocaleString();
				p!= time2
		//td
			p #{transfer.date}
html
	head
		title!= title
	body
		include client
		center
			//include templates/tAuth
			h1 Money history
			table(width="300px")
				tr
					td
						+buttonLink('Deposit', 'Deposit money')
						//a(href="Deposit") Deposit money
					//td
						+buttonLink('MoneyTransfers', 'Money HISTORY')
					td
						+buttonLink('Cashout', 'Cashout')
			a(href="Profile") Back to profile
			br
			br
			if msg.length
				table( BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
					tr
						td Money
						td Comment
						td date
					each transfer in msg
						+drawTransfer(transfer)
			else
				p No History. 
					a(href="Tournaments") Start it!
			
			//p!= JSON.stringify(msg)
		
