//

mixin drawRegs(msg)
	each val in msg
		tr
			td
				i #{val.tournamentID}
				//+tLink(val.tournamentID)
			td регистрация
			td
				a(href="" onclick='unReg(1, ' + val.tournamentID + ')' ) сняться с турнира

		
///-----
//mixin buttonLink(link, text)
	form(action=link) 
		input(type="submit" value=text style="width:125px;height:50px;")

mixin info()
	div(class="panel")
		div(class="panel-heading")
			h3(class="mg-clear") Данные профиля
		div(class="panel-body")
			form(id="form-928" novalidate)
				div(class="form-group")
					label Имя
					h4(class="mg-md") #{session.login}
				div(class="form-group")
					label Email
					h4(class="mg-md") #{msg.email}
				div(class="form-group")
					label Баланс
					h4(class="mg-md" id="money1") 0

mixin drawTournamentRegs(tournaments)
	//div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-6")
		div(class="container bloc-lg")
			div(class="row")
	//div(class="col-sm-12 text-center")
	if tournaments && tournaments.length>0
		//center
		table(class="table table-bordered panel")
			thead
				tr
					th №
					//th Приглашён
					th Статус
					th Действие
			tbody
				+drawRegs(tournaments)
	else
		div(class="text-center white")
			//h3 Вы не зарегистрированы ни в одном турнире(
			a(href="Tournaments" onclick="autoreg()") Начните играть !
			br
			br

mixin changePass()
	include templates/changepassword

mixin deposit()
	include templates/deposit

mixin cashout()
	include templates/cashout

mixin modal()
	button(type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Open Modal

	div(id="myModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title") Modal Header
				div(class="modal-body")
					p Some text in the modal.
				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") Close

extends layout

block JSlibs
	//script(src="tournaments.js")

block title
	title Профиль

block content
	#app
	script.
		var email = "#{msg.email}"
	//script(src="/output/Profile.js")
	script(src="/output/app.js")
// block content
	#app
	script.
		var email = "#{msg.email}"
	script(src="/output/Profile.js")
	// script.
		getProfile()
	h1(class="text-center white page") Профиль
	//div(class="col-sm-12")
	.full
		h2(class="text-center white") Мои турниры
		+drawTournamentRegs(msg.tournaments)
	.full
		+info()
	// div(class="full" id="dep")
	.full#dep
		+deposit()
	//div(class="full" id="cashoutMoney")
	.full#cashoutMoney
		h2(class="page") Вывод средств
		.ctr
			label(class="full white text-center") Минимальная сумма вывода - 500 рублей
			br
			button(class="btn btn-primary button") Вывести средства
