//

mixin drawRegs(msg)
	each val in msg
		+drawReg(val)
mixin drawReg(val)
	tr 
		td 
			a(href="TournamentInfo?tID="+val.tournamentID) #{val.tournamentID}
		td #{val.promo}

///Dublicate from ShowGifts.jade
mixin ShowGift(gift,add)
	td
		center
			h2!= gift.name
		
			//p!='URL = '+gift.photoURL
			img(src= gift.photoURL display=block max-width='300px' width='400px')
			br
			- if (gift.URL)
				a(href=gift.URL) Show more
			p!=gift.description
			p!=gift.price+'$'
			//p!= '----------------------------'

mixin showGifts(gifts)
	table
		each val, index in gifts
			if(index%3==0 && index!=0)
				tr
					+ShowGift(val)
			else
				+ShowGift(val)

mixin drawPrizes2(giftIDList, gifts)
	if giftIDList && gifts
		table
			each gft, index in giftIDList
				//p!= JSON.stringify(gft)
				- for (var i=0;i<gifts.length;i++)
					if gft.giftID == gifts[i]._id
						tr
							+ShowGift(gifts[i])
						//
							if(index%3==0)
								//tr
									td
										p TR
										//+ShowGift(gifts[i])
							else
								+ShowGift(gifts[i])
		
///-----
mixin buttonLink(link, text)
	form(action=link) 
		input(type="submit" value=text style="width:125px;height:50px;")
mixin drawTournamentRegs(tournaments)
	h2 My tournaments
	if tournaments
		table( BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
			tr
				td TournamentID
				td Promoted by(Status)
			+drawRegs(tournaments)

mixin drawPrizes(gifts)
	h2 Prizes:
	if gifts && gifts.length>0
		+showGifts(gifts)
	else
		h3 You have no prizes, but it's high time to win them!

mixin moneyOperations()
	a(href="MoneyTransfers") Money transfers
	br
	table(width="300px")
		tr
			td
				+buttonLink('Deposit', 'Deposit money')
				//a(href="Deposit") Deposit money
			td
				+buttonLink('Cashout', 'Cashout')
	br

html
	//p!= JSON.stringify(msg.gifts)
	//p!= JSON.stringify(msg.userGifts)
	//include templates/libs
	include client
	//script(src="loadProfile.js")
	
	center
		h1 Profile of  #{session.login}
		//p!= JSON.stringify(msg)
		h2 You have #{msg.money/100}$ on your account
		//p!= JSON.stringify(msg)
		+moneyOperations()

		a(href="Tournaments") Back to tournaments
		br
		a(href="Changepassword") Change password
		+drawTournamentRegs(msg.tournaments)

		+drawPrizes(msg.userGifts)
		+drawPrizes2(msg.gifts, msg.userGifts)
