//

mixin GetValue(text, name, type)
	tr
		td #{text}
		td
			if type
				input(id=name, type=type, name=name)
			else
				input(id=name, type="text", name=name)
		td
			p(id=name+"Validator") *

		

mixin RegForm()
	table
		+GetValue("Email" ,"email")
		+GetValue("Login", "login")
		+GetValue("Password", "password", "password")
		tr
			td
			td
				p.
				input(id="submitButton" type="submit", value="Register")
		

html
	head
		title Register
	script(src="validator.min.js")
	h1!= 'Register'
	if msg
		case msg
			when 500
				p Server Error. Report about this bug
			when 11000
				p User exists( Try another login	
			when 100
				p Invalid data
			default
				p Not Error, but no Success... it's strange... report about this error
			
	div#loginbox
			form(name="Register", action="/Register", method="post")
				+RegForm()
				//
					p Email
					input(type="text", name="email")
					p Login
					input(type="text", name="login")
					p Pass
					input(type="password", name="password")
	br
	br
	a(href="Login") Log in

script.
	var RED = "#FF0000";
	var WHITE = "#FFFFFF";
	var GREEN = "#00FF00";

	var validityData = {
		password:0,
		email:0,
		login:0
	}
	var EMPTY= "*";
	var EMAIL_INVALID= "email is incorrect";
	var LOGIN_INVALID= "login can only contain letters or numbers. Special symbols are prohibited";
	var PASS_INVALID= "password can only contain letters or numbers. Special symbols are prohibited";

	var CORRECT = "OK!";

	var OK = 1;
	var FAIL = 0;

	var PASS_LENGTH = "password length must be greater than 8 and less than 25";

	function emailListener(){
		var field = "email";
		//alert( document.getElementById("email").value );
		var value = document.getElementById("email").value;

		var colour = WHITE;
		var text=EMPTY;

		if (value.length==0){
			colour = WHITE;
			text = EMPTY;
		}
		else{
			if (validator.isEmail(value)){
				colour=GREEN;
				text = CORRECT;
			}
			else{
				colour=RED;
				text = EMAIL_INVALID;
			}
		}

		if (text!=CORRECT){
			HideSubmitButton(field);
		} else {
			ShowSubmitButton(field);
		}

		document.getElementById("email").setAttribute("style", "background-color:"+colour);
		document.getElementById("emailValidator").innerHTML=text;//("value", 1);
	}

	function LoginListener(){
		var field = "login";
		var value = document.getElementById("login").value;

		var colour = WHITE;
		var text=EMPTY;

		if (value.length==0){
			colour = WHITE;
			text = EMPTY;
		}
		else{
			if (validator.isAlphanumeric(value)){
				colour=GREEN;
				text = CORRECT;
			}
			else{
				colour=RED;
				text = LOGIN_INVALID;
			}
		}
		if (text!=CORRECT){
			HideSubmitButton(field);
		} else {
			ShowSubmitButton(field);
		}

		document.getElementById("login").setAttribute("style", "background-color:"+colour);
		document.getElementById("loginValidator").innerHTML=text;
	}
	function checkPassword(value){
		if (validator.isAlphanumeric(value)){
			return {
				colour:GREEN,
				text : CORRECT
			}
		}
		else{
			return {
				colour:RED,
				text : PASS_INVALID
			}
		}
		
	}
	//document.getElementById("submitButton").setAttribute("disabled", "disabled");
	function HideSubmitButton(fieldName){
		validityData[fieldName+""]=FAIL;
		//document.getElementById("submitButton").setAttribute("style", "visibility:hidden");
		
		//document.getElementById("submitButton").setAttribute("disabled", "disabled");
	}
	function ValidData(){
		return validityData.password == OK && validityData.email == OK && validityData.login == OK;
	}
	function ShowSubmitButton(fieldName){
		validityData[fieldName]=OK;
		if (ValidData()){
			//document.getElementById("submitButton").setAttribute("style", "visibility:visible");
			document.getElementById("submitButton").removeAttribute("disabled");
		}
	}

	function PassListener(){
		var field = "password";
		var value = document.getElementById(field).value;

		var colour = WHITE;
		var text=EMPTY;

		if (value.length==0){
			colour = WHITE;
			text = EMPTY;
		}
		else{
			if (value.length<6 || value.length>25) { 
				colour = RED; text = PASS_LENGTH;
			} else{
				var obj = checkPassword(value);
				colour = obj.colour;
				text = obj.text;
			}
			
		}
		
		if (text!=CORRECT){
			HideSubmitButton(field);
		} else {
			ShowSubmitButton(field);
		}
		document.getElementById(field).setAttribute("style", "background-color:"+colour);
		document.getElementById(field + "Validator").innerHTML=text;
	}

	function submitForm(event){
		event.preventDefault();
		console.log(asd);		
	}

	document.getElementById("email").addEventListener("input", emailListener);
	document.getElementById("email").addEventListener("onchange", emailListener);

	document.getElementById("login").addEventListener("input", LoginListener);
	document.getElementById("login").addEventListener("onchange", LoginListener);

	document.getElementById("password").addEventListener("input", PassListener);
	document.getElementById("password").addEventListener("onchange", PassListener);

	document.getElementById("login").setAttribute("placeholder","MorganFreeman223");
	document.getElementById("email").setAttribute("placeholder","chikenFreeze@gmail.com");

	document.getElementById("loginValidator").setAttribute("style", "color:"+RED);
	document.getElementById("emailValidator").setAttribute("style", "color:"+RED);
	document.getElementById("passwordValidator").setAttribute("style", "color:"+RED);

	//document.getElementById("submitButton").addEventListener("submit", submitForm);

	
