//
//doctype html
//html
	head
		title Сброс пароля
		include templates/head
	div(class="page-container")
		include templates/menu
		#result
		if msg
			case msg.result
				when 'OK'
					p!= 'Пароль изменён! Проверьте ваш почтовый ящик'
				when 'ServerError'
					p!= 'Ошибка на сервере. Свяжитесь с техподдержкой'
				when 'fail'
					p!= 'Неверный email или логин'
				default
					if msg.result
						p!= 'Ошибка: ' + msg.result
					else
						p!= 'Ошибка: ' + JSON.stringify(msg)
		else
			div(class='bloc-group')
				include templates/remember
		include templates/footer

extends layout

block title
	title Сбросить пароль

block content
	if msg && msg.result
		h2(class="white text-center")
			case msg.result
				when 'OK'
					| Пароль изменён! Проверьте ваш почтовый ящик
				when 'fail'
					| Неверный email
				default
					| Ошибка
		case msg.result
			when 'OK'
				center
					a(href="/Login" class="btn btn-primary btn-lg") Войти
			default
				include templates/remember
	else
		//div(class='bloc-group')
		include templates/remember

block ftr
