//
doctype html
html
	head
		title Сброс пароля
		include templates/head
	div(class="page-container")
		include templates/menu
		#result
		if msg
			case msg.result
				when 'OK'
					p!= 'Пароль изменён! Проверьте ваш почтовый ящик'
				when 'ServerError'
					p!= 'Ошибка на сервере. Свяжитесь с техподдержкой'
				when 'fail'
					p!= 'Неверный email или логин'
				default
					if msg.result
						p!= 'Ошибка: ' + msg.result
					else
						p!= 'Ошибка: ' + JSON.stringify(msg)
		div(class='bloc-group')
			include templates/remember
			//include templates/register
		include templates/footer
