mixin ShowGift(gift,add)
	center
		h2!= gift.name
		
		//p!='URL = '+gift.photoURL
		//img(src= "http://" + gift.photoURL)
		//img(src= gift.photoURL width="400" height="300")
		img(src= gift.photoURL width='400px')
		br
		- if (gift.URL)
			a(href=gift.URL) Show more
		p!=gift.description
		p!=gift.price+'$'
		p!= '----------------------------'
html
	center
		h1!= 'Show gifts '
		//p!=JSON.stringify(message)
		each val in message
			+ShowGift(val)
