mixin ShowGift(gift,add)
	td
		center
			h2!= gift.name
		
			//p!='URL = '+gift.photoURL
			img(src= gift.photoURL display=block max-width='300px' width='400px')
			br
			- if (gift.URL)
				a(href=gift.URL) Show more
			p!=gift.description
			p!=gift.price+'$'
			//p!= '----------------------------'
mixin showGifts(gifts)
	table
			each val, index in gifts
				if(index%3==0 && index!=0)
					tr
						+ShowGift(val)
				else
					+ShowGift(val)
html
	center
		a(href="AddGift") AddGift
		h1!= 'Show gifts '
		//p!=JSON.stringify(message)
		+showGifts(message)
