p!= 'PARTITION ADDED'
- if (session.login && session.login.length>0) {
	p!= 'Hello, ' + session.login	
- }
- var a = JSON.stringify(session);
- console.log(session);
- console.log('session :' + a);
p #{session.login}
p!= session.login
-//p JSON.stringify(#{session})
