//
include tmpl/tournaments

mixin showPrizes(prizes)
	h2 Prizes

mixin showTournament(tourn)
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td	ID
			td	Players count
			td	Buy In
			td	Game Name ID
			td	TournamentInfo
		tr
			td!= tourn.tournamentID
			td!= tourn.players +'/'+ tourn.goNext[0]
			td!= tourn.buyIn
			td!= tourn.gameNameID
			td Tournament Info
	br
	br

html
	head
		title!= title
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").

		script( src="https://cdn.socket.io/socket.io-1.2.0.js").
		script( src="http://code.jquery.com/jquery-1.11.1.js")
		script.
			var login = "#{session.login}"; 
			//alert("#{session.login}");
		script(src="sockets.js").
		script(id= "RegUsr").
			function func(login, tID){
				console.log(login);
				console.log(tID);
				//console.log(btn);
				
				/*$.ajax({
				  url: 'Alive',
				  method: 'POST',
				  data: { f1:'ololo' },
				  success: function( data ) {
					var msg = JSON.stringify(data);
					alert(msg);
					console.log(msg);
				  }
				});*/

				$.ajax({
				  url: 'RegisterInTournament',
				  method: 'POST',
				  data: { login: login, tournamentID:tID },
				  success: function( data ) {
					var msg = data;//JSON.stringify(data);
					var txt='';
					switch(data){
						case 'OK': txt='You registered successfully!!'; break;
						case 'fail': txt='Register failed :(('; break;
						default : txt='Sorry, you need to login first :(('; break;
					}
					alert(txt);
					console.log(msg);
				  }
				});
			}
	body
		p!= JSON.stringify(message)
		include tAuth
		h1!= 'Tournament : ' + message[0].tournamentID
		+showTournament(message[0])
		button(id="reg" style= "width:300px;height:50").
			REGISTER
		br
		br
		div
			a( href='Tournaments') Tournaments
			br
		script.
			var aaa = "#{session.login}";
			var bbb = "#{message[0].tournamentID}";
			//alert('login:' + bbb);
			var btn = document.getElementById("reg");
			document.getElementById("reg").addEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");});
		#news
			p!= aza
