//
include tmpl/tournaments

mixin showPrizes(prizes)
	h2 Tournament prizes
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td Round
			td Prize
		each prize, index in prizes
			if prize
				tr
					td #{index}
					if isNaN(prize)
						//td GIFT#{JSON.stringify(prize)}
						td 
							a(href="GetGift?giftID="+prize.giftID) Show prize
					else
						td #{prize/100}$
	br
	br



mixin showTournament(tourn)
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Players count
			td Buy In
			td Game Name
			td Status
			td TournamentInfo
		tr
			td!= tourn.tournamentID
			td!= tourn.players +'/'+ tourn.goNext[0]
			td!= tourn.buyIn/100+'$'
			+ShowGame(tourn.gameNameID)
			+ShowStatus(tourn.status)
			//td!= tourn.gameNameID
			td Tournament Info
	br

mixin showPlayers(players)
	h2 Players
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Player
		each player, index in players
			if player
				tr
					td #{index}
					td #{player.userID}
	br

	//p!= JSON.stringify(players)
mixin drawRegButton(name, ButtonValue, tID, message)
	button(id=name, style="width:300px;height:50") #{ButtonValue}
	br
	br
	//script. 
		document.getElementById("#{name}").addEventListener("click", function() { func("#{session.login}", "#{tID}");});
	//script.
		var name = "#{name}";
		document.getElementById(name).addEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");});

mixin drawTournamentInfo(message)
	+showTournament(message[0])
	//+showPrizes(message[0].Prizes)
	+showPlayers(message[1])


html
	head
		title!= title
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")

		script.
			var login = "#{session.login}";			
			var tID = "#{msg[0].tournamentID}";
		script(src="sockets.js").
		script(src="loadGift.js").
		script(src="registerUserInTournament.js")
	body
		include tAuth

		h1!= 'Tournament : ' + msg[0].tournamentID
		+drawTournamentInfo(msg)
				
		+drawRegButton("reg", "REGISTER", msg[0].tournamentID, msg)
		+drawRegButton("unReg", "UNREGISTER", msg[0].tournamentID, msg)

		div
			a( href='Tournaments') Tournaments
			br
		#gift
			p Click on gift to show it here!
		script.
			//setTimeout(function(){location.reload(true);} , 7000);

			document.getElementById("reg").addEventListener("click", function()   { func(login, tID);});
			document.getElementById("unReg").addEventListener("click", function() { unReg(login, tID);});
		#news
			p!= aza
