html
	head
		title!= title
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").

		script( src="https://cdn.socket.io/socket.io-1.2.0.js").
		script( src="http://code.jquery.com/jquery-1.11.1.js")
		
		script(src="sockets.js").
		script(id= "RegUsr").
			function func(login, tID){
				console.log(login);
				console.log(tID);
				//console.log(btn);
				
				/*$.ajax({
				  url: 'Alive',
				  method: 'POST',
				  data: { f1:'ololo' },
				  success: function( data ) {
					var msg = JSON.stringify(data);
					alert(msg);
					console.log(msg);
				  }
				});*/

				$.ajax({
				  url: 'RegisterInTournament',
				  method: 'POST',
				  //data: { login: 'Alvaro_Fernandez', tournamentID:1 },
				  data: { login: login, tournamentID:tID },
				  success: function( data ) {
					var msg = data;//JSON.stringify(data);
					var txt='';
					switch(data){
						case 'OK': txt='You registered successfully!!'; break;
						case 'fail': txt='Register failed :(('; break;
					}
					alert(txt);
					console.log(msg);
				  }
				});
			}
	body
		p!= JSON.stringify(message)
		- if (session.login && session.login.length>0) {
			p!= 'Hello, ' + session.login
			a(href = "Logout") Logout
		- }
		- //onclick="func('Alvaro_Fernandes',4)"		
		table
			tr
				td.
					ID
				td.
					Players count
				td.
					Buy In
				td.
					Game Name ID
				td.
					TournamentInfo
			tr
				td
					p!= message[0].tournamentID
				td
					p!= message[0].goNext[0]
				td
					p!= message[0].buyIn
				td
					p!= message[0].gameNameID
				td
					Tournament Info
		button(id="reg" style="width:100px;height:20px;").
			REGISTER
		script.
			var aaa = "#{session.login}";
			var bbb = "#{message[0].tournamentID}";
			alert('login:' + bbb);
			var btn = document.getElementById("reg");
			document.getElementById("reg").addEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");});
		#news
			p!= aza
		
