//
include tmpl/tournaments

mixin showPrizes(prizes)
	h2 Tournament prizes
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td Round
			td Prize
		each prize, index in prizes
			if prize
				tr
					td #{index}
					if isNaN(prize)
						//td GIFT#{JSON.stringify(prize)}
						td 
							a(href="GetGift?giftID="+prize.giftID) Show prize
					else
						td #{prize/100}$
	br
	br



mixin showTournament(tourn)
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Players count
			td Buy In
			td Game Name
			td Status
			td TournamentInfo
		tr
			td!= tourn.tournamentID
			td!= tourn.players +'/'+ tourn.goNext[0]
			td!= tourn.buyIn/100
			+ShowGame(tourn.gameNameID)
			+ShowStatus(tourn.status)
			//td!= tourn.gameNameID
			td Tournament Info
	br

mixin showPlayers(players)
	h2 Players
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Player
		each player, index in players
			if player
				tr
					td #{index}
					td #{player.userID}
	br

	//p!= JSON.stringify(players)

html
	head
		title!= title
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").

		script( src="https://cdn.socket.io/socket.io-1.2.0.js").
		script( src="http://code.jquery.com/jquery-1.11.1.js")
		script.
			var login = "#{session.login}"; 
			//alert("#{session.login}");
		script(src="sockets.js").
		script(src="loadGift.js").
		script(id= "RegUs11r").
			function ManageReg(login, tID, url, regID){
				console.log(login);
				console.log(tID);
				//console.log(btn);

				$.ajax({
				  url: url,
				  method: 'POST',
				  data: { login: login, tournamentID:tID },
				  success: function( data ) {
					var msg = JSON.parse(data);//JSON.stringify(data);
					var txt='';
					if (regID==1){
						switch(msg.result){
							case 'OK': txt='You registered successfully!!';  break;
							case 'fail': txt='Register failed :(('; break;
							default : txt='Sorry, you need to login first :(('; break;
						}
					}
					else{
						switch(msg.result){
							case 'OK': txt='Register canceled. Check your money ammount'; break;
							case 'fail': txt='unRegister failed :(('; break;
							default : txt='Sorry, you need to login first :(('; break;
						}
					}
					alert(txt);//msg.result
					console.log(msg);
				  }
				});
			}
			function func(login, tID){
				ManageReg(login, tID, 'RegisterInTournament', 1);
			}
			function addRegListener(){
				//document.getElementById("reg").removeEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");} );
				//document.getElementById("reg").addEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");} );
			}
			function unReg(login, tID){
				ManageReg(login, tID, 'CancelRegister', 0);
			}
	body
		p!= JSON.stringify(message)
		include tAuth
		h1!= 'Tournament : ' + message[0].tournamentID
		+showTournament(message[0])
		//+showPrizes(message[0].Prizes)
		+showPlayers(message[1])
		button(id="reg" style= "width:300px;height:50")	REGISTER
		br
		br
		button(id="unReg" style= "width:300px;height:50") UNREGISTER
		br
		br
		div
			a( href='Tournaments') Tournaments
			br
		#gift
			p Click on gift to show it here!
		script.
			//setTimeout(function(){location.reload(true);} , 7000);
			var aaa = "#{session.login}";
			var bbb = "#{message[0].tournamentID}";
			var btn = document.getElementById("reg");
			document.getElementById("reg").addEventListener("click", function() { func("#{session.login}", "#{message[0].tournamentID}");});
			document.getElementById("unReg").addEventListener("click", function() { unReg("#{session.login}", "#{message[0].tournamentID}");});
			//document.getElementById("reg").addEventListener("click", function() { loadGift("5609b8ac8b659cb7194c78c7");});
		#news
			p!= aza
