//
mixin landingAuth()
	form(id="form-1" action="/Register" method="post" autocomplete="on")
		if landing
			input(type="hidden" name="inviter" value=landing)
		else
			input(type="hidden" name="inviter" value="realmadrid")

		h3(class="mg-md") Зарегистрируйтесь, чтобы играть!
		div(class="form-group")
			label Email
			input(id="email" class="form-control" type="email" name="email" placeholder="Email" autocomplete="on" required)
			label Пароль (минимум 6 символов)
			input(id="password" class="form-control" type="password" name="password" placeholder="******" autocomplete="on" required)
		button(class="bloc-button btn btn-d btn-lg btn-block" style="background:#F44336;" type="submit") Играть
		include ../templates/vk-auth
		+loadVKauth("realmadrid", "reg")

mixin loadFastHead()
	meta(charset="utf-8")
	meta(name="keywords" content="")
	meta(name="description" content="")
	link(rel="shortcut icon" type="image/png" href="favicon.png")
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")

	//link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
	link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/style.css")
	//link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/my_style.css")
	link(rel="stylesheet" href="./css/font-awesome.min.css")

	script(src="http://code.jquery.com/jquery-2.1.0.min.js")
	//./js/jquery-2.1.0.min.js
	script(async src="./js/bootstrap.js")
	script(async src="./js/blocs.js")
	script(src="storage.js")
	//script(src="button_animation.js")

	meta(name="w1-verification" content="179817005946")

	//script(src="third_party/validator.min.js")
	script(src="inviter.js")

mixin title(name)
	h2(class="mg-md text-center") #{name}

mixin small_title(name)
	h3(class="mg-md text-center") #{name}

doctype html
html
	head
		title Онлайн турниры
		+loadFastHead()
		//include ../templates/head3
		//if landing
			link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/"+landing+".css")
		//else
			script var landing = "realmadrid";
			link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/realmadrid.css")
		link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/realmadrid.css")
	body
		div(class="page-container")
			//div(id="hero-bloc" class="bloc hero bgc-white tc-white d-bloc" style="background-image:url('../img/713228705_14184269906151135930.jpg')")
			div(id="hero-bloc" class="bloc hero bgc-white tc-white d-bloc" style="background-image:url('../img/landingPics/"+picture+"')")
				div(class="v-center pull-right")
					div(class="vc-content row")
						div(class="col-sm-12")
							div(class="row")
								div(class="col-md-6 col-md-offset-3 col-sm-12")
									//script inviter.group("realmadrid")
									script.
										var lnd = "#{landing}";
										//console.log(lnd)
										inviter.group(lnd)
									//+landingAuth()
									form(id="form-1" action="/Register" method="post" autocomplete="on")
										if landing
											input(type="hidden" name="inviter" value=landing)
										else
											input(type="hidden" name="inviter" value="realmadrid")

										h3(class="mg-md") Зарегистрируйтесь, чтобы играть!
										div(class="form-group")
											block Email
												label Email
											input(id="email" class="form-control" type="email" name="email" placeholder="Email" autocomplete="on" required)
											block Pass
												label Пароль (минимум 6 символов)
											input(id="password" class="form-control" type="password" name="password" placeholder="******" autocomplete="on" required)
										button(class="bloc-button btn btn-d btn-lg btn-block" style="background:#F44336;" type="submit") Играть
										include ../templates/vk-auth
										+loadVKauth(lnd, "reg")

