//
canvas( id="canvas")
head
	link(rel="stylesheet" type="text/css" href="game.css")
audio (preload="true" id="collide")
	source( src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.mp3")
	source( src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.wav")

script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
script( src="https://cdn.socket.io/socket.io-1.2.0.js").
script( src="http://code.jquery.com/jquery-1.11.1.js").


script.
	var tournamentID= "#{tournamentID}";
	var logins = "#{parameters}";
	var login = "#{login}";
	var gameHost = "#{gameHost}";
	var gamePort = "#{gamePort}";
	//GameLoaded(tournamentID);

script( src="gameStats.js").
script( src="game.js").
