//p!= 'PARTITION ADDED'
if (session.login && session.login.length>0)
	p!= 'Hello, '
		a(href = "Profile") #{session.login} 
	#money
	a(href = "Logout") Logout
else
	p!= 'You need to register if you want to play in tournaments'
	a(href = "Login") Login
//include libs
//script(src="loadProfile.js")

- var ab = JSON.stringify(session);
- console.log(session);
- console.log('session :' + ab);


- //p #{session.login}
- //p!= session.login
-//p JSON.stringify(#{session})
