//
-var red = "#FF0000";
-var green = "#00FF00";
-var blue = "#0000FF";
mixin ShowStatus(status)
	case status
		when 0
			td(bgcolor="#FF0000") Initialized
		when 1
			td(bgcolor="#00FF00") Register
		when 2
			td(bgcolor="#0000FF") Running
		default
			td(bgcolor="red") NULL
mixin ShowGame(gameNameID)
	case gameNameID
		when 0
			td(bgcolor="#FF0000") Error
		when 1
			td(bgcolor='brown') Ping Pong
		when 2
			td(bgcolor=green) Questions
		when 3
			td(bgcolor='gold') Battle
		default
			td(bgcolor=red) Error

mixin showGift(gift)
	td
		center
			h2!= gift.name
		
			//p!='URL = '+gift.photoURL
			img(src= gift.photoURL display=block max-width='300px' width='400px')
			br
			- if (gift.URL)
				a(href=gift.URL) Show more
			p!=gift.description
			p!=gift.price+'$'
			p!='ID:' + gift._id
			//p!= '----------------------------'


mixin showPrizes(prizes)
	h2 Tournament prizes
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td Round
			td Prize
		each prize, index in prizes
			if prize
				tr
					td #{index}
					if isNaN(prize)
						//td GIFT#{JSON.stringify(prize)}
						td 
							a(href="GetGift?giftID="+prize.giftID) Show prize
					else
						td #{prize/100}$
	br

mixin showTournament(tourn)
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Players count
			td Buy In
			td Game Name
			td Status
			//td TournamentInfo
		tr
			td!= tourn.tournamentID
			td!= tourn.players +'/'+ tourn.goNext[0]
			td!= tourn.buyIn/100+'$'
			+ShowGame(tourn.gameNameID)
			+ShowStatus(tourn.status)
			//td!= tourn.gameNameID
			//td Tournament Info
			//td
				+drawRegButton("reg", "REGISTER", msg[0].tournamentID, msg)
	br

mixin showPlayers(players)
	h2 Players
	table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Player
		each player, index in players
			if player
				tr
					td #{index}
					td #{player.userID}
	br

	//p!= JSON.stringify(players)
mixin drawRegButton(name, ButtonValue, tID, message)
	button(id=name, style="width:300px;height:50") #{ButtonValue}
	br

mixin drawTournamentInfo(message)
	+showTournament(message[0])
	+showPrizes(message[0].Prizes)

	+drawRegButton("reg", "REGISTER", message[0].tournamentID, message)
	+drawRegButton("unReg", "UNREGISTER", message[0].tournamentID, message)

	+showPlayers(message[1])

mixin showTournaments(message)
	h1 List of Tournaments
	table( BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td ID
			td Players
			td Buy In
			td Game
			td Status
			td TournamentInfo
		- if (message.length>0){ for (i=0; i<message.length;i++){
			tr
				td #{message[i].tournamentID}
				td #{message[i].players}/#{message[i].goNext[0]}
				td #{message[i].buyIn/100}$
				+ShowGame(message[i].gameNameID)
				//+ShowStatus(#{message[i].status})
				+ShowStatus(message[i].status)
				//td #{message[i].status}
				td
					center
						a(href='TournamentInfo?tID='+message[i].tournamentID)
							Tournament Info
			//p!= message
		- }}
