//

-var red = "#FF0000";
-var green = "#00FF00";
-var blue = "#0000FF";
mixin ShowStatus(status)
	case status
		when 0
			td(bgcolor="#FF0000") Initialized
		when 1
			td(bgcolor="#00FF00") Register
		when 2
			td(bgcolor="#0000FF") Running
		default
			td(bgcolor="red") NULL
mixin ShowGame(gameNameID)
	case gameNameID
		when 0
			td(bgcolor="#FF0000") Error
		when 1
			td(bgcolor='brown') Ping Pong
		when 2
			td(bgcolor=green) Questions
		when 3
			td(bgcolor='gold') Battle
		default
			td(bgcolor=red) Error

mixin showGift(gift)
	td
		center
			h2!= gift.name
		
			//p!='URL = '+gift.photoURL
			img(src= gift.photoURL display=block max-width='300px' width='400px')
			br
			- if (gift.URL)
				a(href=gift.URL) Show more
			p!=gift.description
			p!=gift.price+'$'
			p!='ID:' + gift._id
			//p!= '----------------------------'
