//
-var red = "#FF0000";
-var green = "#00FF00";
-var blue = "#0000FF";

-var convert=100;

mixin showGame(gameNameID, ID)
	case gameNameID
		when 0
			| Ошибка, сообщите в техподдержку ##{ID}
		when 1
			| Пинг понг ##{ID}
		when 2
			| Викторина ##{ID}
		when 3
			| Battle ##{ID}
		default
			| Ошибка ##{ID}

mixin showGameName(gameNameID, ID)
	case gameNameID
		when 0
			| Ошибка, сообщите в техподдержку
		when 1
			| Пинг понг
		when 2
			| Викторина
		when 3
			| Battle
		default
			| Ошибка

mixin showPrize(prize)
	if prize
		if isNaN(prize)
			//td GIFT#{JSON.stringify(prize)}
			//td
				a(href="GetGift?giftID="+prize.giftID) Show prize
			Приз: #{prize}
		else
			Приз: #{prize/convert}$



mixin showTournament(t,line, imageUrl)
	if t
		- var ID=t.tournamentID||115;
		- var registered = t.players;
		- var gameNameID = t.gameNameID;
		- var prizes = t.Prizes[0];	
		- var maxPlayers = t.goNext[0];
		- var winnersPlaces = t.goNext[1];
		- var buyIn = t.buyIn || 0;
	
		div(class="col-sm-3")
			center
				h4(class="mg-md text-center" id="gname-"+ID)
					+showGame(t.gameNameID, t.tournamentID)
				//img(src=imageUrl width="210" height="150")
				+showImage(imageUrl, t.gameNameID)
				h3(id="wnrs-"+ID style="height:55px; width:220px" )
					+showPrize(prizes)
				h4(class="mg-md")
					if buyIn>0
						Стоимость: #{buyIn/convert}$
					else
						Бесплатно!
					br
					Призовых мест: #{winnersPlaces}
					div(id="plrs-"+ID)
						Участников : #{registered} из #{maxPlayers}
				a(href="TournamentInfo?tID="+ID class="btn btn-lg btn-primary" style="width:60%; border-radius:6px; ") Играть

mixin showImage(imageUrl, gameNameID)
	if imageUrl
		img(src=imageUrl width="210" height="150")
	else
		-var url="/img/CR2.jpg";
		case gameNameID
			when 0
				| Ошибка, сообщите в техподдержку ##{ID}
			when 1
				img(src="/img/pp.jpg" width="210" height="150")
			when 2
				img(src="/img/quiz.png" width="210" height="150")
			when 3
				| Battle ##{ID}
			default
				| Ошибка ##{ID}

mixin ShowStatus(status)
	case status
		when 0
			Создан
		when 1
			td(bgcolor="#00FF00") Набор участников
		when 2
			td(bgcolor="#0000FF") Идёт
		default
			td(bgcolor="red") Завершён


mixin showMaxTournament(t,line, imageUrl)
	if t
		- var ID=t.tournamentID||115;
		- var registered = t.players;
		- var gameNameID = t.gameNameID;
		- var prizes = t.Prizes[0];	
		- var maxPlayers = t.goNext[0];
		- var winnersPlaces = t.goNext[1];
		- var buyIn = t.buyIn || 0;
	
		center
			h4(class="mg-md text-center" id="gname-"+ID)
				Игра : 
				+showGameName(t.gameNameID, t.tournamentID)
			//img(src=imageUrl width="210" height="150")
			+showImage(imageUrl, t.gameNameID)
			h3(id="wnrs-"+ID style="height:55px; width:220px" )
				+showPrize(prizes)
			h4(class="mg-md")
				if buyIn>0
					Стоимость: #{buyIn/convert}$
				else
					Бесплатно!
				br
				Призовых мест: #{winnersPlaces}
				div(id="plrs-"+ID)
					Участников : #{registered} из #{maxPlayers}
			h4(class="mg-md")
				Статус : 
				+ShowStatus(t.status)
